<%= form_for(@kudotype) do |f| %>
  <% if @kudotype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kudotype.errors.count, "error") %> prohibited this kudotype from being saved:</h2>

      <ul>
      <% @kudotype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
