<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You Got Kudos!</h1>
    <p><%= @giver.name %> gave you kudos!</p>
    <p>Check it out:</p>
    <p><%= @kudo.comments %></p>
    <p>You supported the following values:</p>
    <% @kudo.kudotypes.each do |k| %>
    <ul>
      <li><%= k.name %></li>
    </ul>
    <% end %>
    <p>Great work supporting Inflow's values! You can return the favor by
    <%= link_to 'giving kudos', new_kudo_path %>, or check out what's going on
    <%= link_to 'at Inflow Kudos', root_path %>.</p>

  </body>

</html>