<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @giver.name.titlecase %> gave kudos!</h2>
    <p>Here's what <%= @giver.name %> had to say:</p>
    <p><%= @kudo.comments %></p>
    <p>Kudos for supporting the following values:</p>
    <% @kudo.kudotypes.each do |k| %>
    <ul>
      <li><%= k.name %></li>
    </ul>
    <% end %>
    <p>Great work supporting Inflow's values!
      You give your own kudos and see all kudos given with the
    <%= link_to 'Inflow Kudos Web App', root_url %>.</p>

  </body>

</html>