<%= form_for(@kudo) do |f| %>
  <% if @kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
      <% @kudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= hidden_field_tag "kudo[kudotype_ids][]", nil %>
  <% Kudotype.all.each do |kudotype| %>
    <%= check_box_tag "kudo[kudotype_ids][]",
    kudotype.id, @kudo.kudotype_ids.include?(kudotype.id),
    id: dom_id(kudotype) %>
    <%= label_tag dom_id(kudotype), kudotype.name %><br>
  <% end %>
  </div>

  <div class="field">
    <%= f.label :receiver_id %><br>
    <%= f.collection_select(:receiver_id, User.all, :id, :name) %>
  </div>

   <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
