<div class="container">

  <h1>Check out the Kudos that have been given.</h1>

<div class="table-responsive">
    <table class="table-striped">
      <thead>
        <tr>
          <th>Giver</th>
          <th>Receiver</th>
          <th>Comments</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @kudos.each do |kudo| %>
          <tr>
            <td><%= kudo.giver.name.titlecase %></td>
            <td><%= kudo.receivers %></td>
            <td><%= kudo.comments %></td>
            <td><%= link_to 'View', kudo, :class => "btn btn-default" %></td>
            <% if kudo.giver == current_user || current_user.admin? %>
              <td><%= link_to 'Edit', edit_kudo_path(kudo), :class => "btn btn-default" %></td>
              <% else %>
              <td> </td>
            <% end %>
            <% if current_user.admin? %>
            <td><%= link_to 'Destroy', kudo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= will_paginate @kudos %>

<br>
