<div id="kudoshow" class="container-fluid">
  <p id="notice"><%= notice %></p>



  <h3>Giver: <%= @kudo.giver.name %></h3>


  <h3>Receiver: <%= @kudo.receiver.name %></h3>

  <h3>Values:</h3>
    <% @kudo.kudotypes.each do |k| %>
    <ul>
      <li><%= k.name %></li>
    </ul>
    <% end %>


  <h3>Comments:</h3>
    <h3><%= @kudo.comments %></h3>

<br><br>
  <% if @kudo.giver = current_user || current_user.admin? %>
  <%= link_to 'Edit', edit_kudo_path(@kudo), :class => "btn btn-primary" %>
  <% end %>
</div>
