<div id="kudoshow" class="container-fluid">



  <h3>Giver: <%= @kudo.giver.name %></h3>


  <h3>Receivers:</h3>
    <% @kudo.receiver_id.each do |id| %>
    <ul>
      <li> <%= User.find(id).name %></li>
    </ul>
    <% end %>

  <h3>Values:</h3>
    <% @kudo.kudotypes.each do |k| %>
    <ul>
      <li><%= k.name %></li>
    </ul>
    <% end %>


  <h3>Comments:</h3>
    <h4><%= @kudo.comments %></h4>

<br><br>
  <% if @kudo.giver == current_user || current_user.admin? %>
  <%= link_to 'Edit', edit_kudo_path(@kudo), :class => "btn btn-primary" %>
  <% end %>
</div>
