<p id="notice"><%= notice %></p>

<p>

<p>
  <strong>Giver:</strong>
  <%= @kudo.giver.name if @kudo.giver.name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @kudo.receiver.name if @kudo.receiver.name %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @kudo.comments if @kudo.comments %>
</p>

<%= link_to 'Edit', edit_kudo_path(@kudo) %> |
<%= link_to 'Back', kudos_path %>
