<p id="notice"><%= notice %></p>

<p>

<p>
  <strong>Giver:</strong>
  <%= @kudo.giver.name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @kudo.receiver.name %>
</p>

<p>
  <strong>Values:</strong>
  <% @kudo.kudotypes.each do |k| %>
  <ul>
    <li><%= k.name %></li>
  </ul>
  <% end %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @kudo.comments %>
</p>

<%= link_to 'Edit', edit_kudo_path(@kudo) %> |
<%= link_to 'Back', kudos_path %>
