<p id="notice"><%= notice %></p>

<p>
  <strong>Kudotype:</strong>
  <%= @kudo.kudotype %>
</p>

<p>
  <strong>Giver:</strong>
  <%= @kudo.giver_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @kudo.receiver_id %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @kudo.comments %>
</p>

<%= link_to 'Edit', edit_kudo_path(@kudo) %> |
<%= link_to 'Back', kudos_path %>
