<div class="container">
  <h1>User Info</h1>

  <h3>User</h3>
  <p>Name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Kudos Given: <%= @user.given_kudos.count %></p>
  <p>Kudos Received: <%= @user.received_kudos.count %></p>


  <% if current_user.admin? %>
    <p><%= link_to 'Edit employee status', edit_user_path(@user), :class => "btn btn-default" %></p>
  <% end %>
</div>
